body {
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6; }

.h1, .typography h1, .typography .h1, .h2, .typography h2, .typography .h2, .h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4, .h5, .typography h5, .typography .h5, .h6, .typography h6, .typography .h6 {
  color: #E0A748;
  font-family: 'Playfair Display', serif;
  font-weight: 700; }

.pantheon-form-button {
  height: 40px;
  padding: 0px 30px;
  border: none;
  outline: none;
  background-color: #B07357;
  color: #FFF;
  font-family: inherit;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase; }
  .pantheon-form-button:hover {
    background-color: #c96a3e; }

/*
 * Base styles
 */
body {
  background-color: #F8FAF9;
  color: #333;
  padding: 30px; }

/*
 * Typography
 */
.link, .typography a {
  color: #B07357;
  text-decoration: none; }
  .link:visited, .typography a:visited {
    color: #B07357; }
  .link:hover, .typography a:hover, .link:visited:hover, .typography a:visited:hover {
    color: #bc6e4b;
    text-decoration: underline; }

.italic, .typography i, .typography em {
  font-style: italic; }

.bold, .typography b, .typography strong {
  font-weight: 700; }

.h1, .typography h1, .typography .h1, .h2, .typography h2, .typography .h2 {
  line-height: 1.1; }

.h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4 {
  line-height: 1.3; }

.h1, .typography h1, .typography .h1 {
  font-size: 400%;
  letter-spacing: -2px; }

.h2, .typography h2, .typography .h2 {
  font-size: 250%;
  letter-spacing: -1px; }

.h3, .typography h3, .typography .h3 {
  font-size: 200%; }

.h4, .typography h4, .typography .h4 {
  font-size: 180%; }

.h5, .typography h5, .typography .h5 {
  font-size: 130%; }

.h6, .typography h6, .typography .h6 {
  font-size: 100%; }

.block-margins, .typography p, .typography ul, .typography ol, .typography pre {
  margin: 1em 0; }

.unordered-list, .typography ul {
  list-style-type: disc; }

.ordered-list, .typography ol {
  list-style: decimal; }

.typography h1, .typography h1, .typography .h1 {
  margin: 1em 0 0.5em; }

.typography h2, .typography h2, .typography .h2 {
  margin: 1em 0 0.5em; }

.typography h3, .typography h3, .typography .h3 {
  margin: 1em 0 0.5em; }

.typography h4, .typography h4, .typography .h4 {
  margin: 1em 0 0.5em; }

.typography h5, .typography h5, .typography .h5 {
  margin: 1em 0 0.5em; }

.typography h6, .typography h6, .typography .h6 {
  margin: 1em 0 0.5em; }

/*
 * Modifiers
 */
.float-left {
  float: left;
  margin-right: 1em; }

.float-right {
  float: right;
  margin-left: 1em; }

.text-left {
  text-align: left   !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right  !important; }

.pantheon-form-button {
  margin: 10px 0px; }

.god {
  display: block; }

.pantheon {
  display: block; }
