@import "../variables/all";

/*
 * My base styles
 */

body {
  @extend %base-text;
}
body {
  background-color: $white-color;
  padding: 30px;
}

/**
 * Modifiers
 */
.is-centered {
  margin-left: auto;
  margin-right: auto;
}
.text-is-centered {
  text-align: center;
}
.is-warning {
  color: red;
  font-weight: 400;
}
