.pantheon-form {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  button {
    @extend .pantheon-button;
    margin-top: 70px;
  }
}
.pantheon-form-item {
  display: block;
  height: 45px;
  position: relative;
  margin-top: 20px;
}
.pantheon-form-description {
  font-weight: 700;
  margin-top: 40px;
}
.qualifier {
  color: $light-gray-color;
  font-size: 12px;
  font-style: italic;
}
.pantheon-form-qualifier {
  @extend .qualifier;
  position: absolute;
  top: 60px;
}
.pantheon-form-spinner {
  color: $yellow-color;
  font-size: 30px;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.god-form,
.pantheon-form {
  input,
  select {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $light-gray-color;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    outline: none;
    padding: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    &:focus {
      border-bottom: 1px solid $yellow-color;
    }
    &:focus + label {
      color: $yellow-color;
      font-weight: 700;
    }
  }
  select {
    border-radius: 0px;
    -webkit-appearance: none;
  }
  label {
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
  }
}
