// Pallet

$white-color: #fff;
$black-color: #333;
$yellow-color: #f4bc50;

$lightest-gray-color: #f5f6f4;
$light-gray-color: #aaaaaa;
$medium-gray-color: #9b9fa8;
$dark-gray-color: #838198;
$darkest-gray-color: #3c4858;
