@import "../variables/all";

/*
 * My base styles
 */

body { @extend %base-text }
body {
  background-color: $background-color;
  color: $text-color;
  padding: 30px;
}

/**
 * Modifiers
 */
.is-centered {
  margin-left: auto;
  margin-right: auto;
}
.text-is-centered{
  text-align: center;
}
