// Pallet

$white: #FFF;
$black: #333;
$main-color: #F4BC50;           // casablanca
$light-color: #F5F6F4;          // "desert storm
$light-accent-color: #9B9FA8;   // "santas gray"
$dark-color: #838198;           // "waterloo"
$dark-accent-color: #3C4858;    // unknown

// Global

$background-color: $white;
$text-color: $dark-accent-color;
$heading-color: $main-color;
$subheading-color: $dark-color;

$link-color: $main-color;
$link-hover-color: saturate($main-color, 10%);
$link-visited-color: $main-color; // diff is distracting

// Overrides for Materials Kit

$btn-default-bg: $dark-color;
$brand-primary: $main-color;
